<div class="search">
  <form name="google-search" method="get" action="https://www.google.com/search">
  	<input type="hidden" name="sitesearch" value="<%- config.url.replace(/^https?:\/\//, '') %>" />
  	<input type="search" name="q" placeholder="<%= __('search') %>" />
  </form>
</div>