doctype
html
  head
    link(rel="stylesheet" href="main.css")
    link(rel="import" href="elements/ip-address.html")
    script(src="bower_components/webcomponentsjs/webcomponents.min.js")
  body
    != yield